*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
}

.title_appli {
   margin: auto;
  /* position: absolute;
    top: 50%; 
    right: 50%;
    transform: translate(50%,-50%); */
    text-transform: uppercase;
    font-family: verdana;
    font-size: 30px;
    font-weight: 700;
    color: #f5f5f5;
    /* text-shadow: 1px 1px 1px #919191,
        1px 2px 1px #919191,
        1px 3px 1px #818080,
        1px 4px 1px #7e7e7e,
        1px 5px 1px #696969,
        1px 6px 1px #555555, */
        /* 1px 7px 1px #919191,
        1px 8px 1px #919191,
        1px 9px 1px #919191,
        1px 10px 1px #919191; */
    /* 1px 10px 6px rgba(16,16,16,0.4),
    1px 16px 10px rgba(16,16,16,0.2),
    1px 18px 20px rgba(16,16,16,0.2),
    1px 22px 30px rgba(16,16,16,0.4);
}  */
}

