* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: arial;
}

body {
  height: 100vh;
}

@media (min-width: 230px), (max-width: 939px) {
  .title_appli {
    font-size: 16px;
  }
}
